subtitulo {
    color: rgb(48, 199, 106);
    font: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 2cm;
}

p{
    margin: 1cm;
}

img {
    width: 20%;
    height: 20%;
    margin: 0;
    padding: 0;
  }

